*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color:#548687;
    text-align:center;
}
.container{
    height:70vh;
    display:flex;
    justify-content:center;
    align-items:center;

}
.game{
    height:60vmin;
    width:60vmin;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    gap:1.5vmin;
}
.box{
    height:18vmin;
    width:18vmin;
    border-radius:1rem;
    border:none;
    color:#b0413e;
    font-size:8vmin;
    background-color: blanchedalmond;
}
#reset-btn{
    padding:1rem 2rem;
    font-size:1.5rem;
    border:none;
    border-radius:0.5rem;
    background-color:#b0413e;
    color:white;
    cursor:pointer;
}
#new-btn{
    padding:1rem 2rem;
    font-size:1.5rem;
    border:none;
    border-radius:0.5rem;
    background-color:#b0413e;
    color:white;
    cursor:pointer;
}
.msg-container{
    height:25vmin;

}
#msg{
    color:white;
    font-size:4vmin;

}
.hide{
    display:none;
}